# Ignore everything
*

# Don't ignore these specific dirs
!/Cursor/
!/Cursor/User/
!/expect/
!/fish/
!/fish/conf.d/
!/hypr/
!/hypr/scripts/
!/onedrive/
!/pulse/
!/pulse/patchbay/
!/spicetify/
!/spicetify/CustomApps/
!/spicetify/CustomApps/marketplace/
!/sunshine/
!/waybar/
!/waybar/scripts/
!/wpaperd/

# Don't ignore these specific items
!.gitignore
!README.md

# Don't ignore specific dir items
!/Cursor/User/settings.json
!/expect/iit-vpn.exp
!/fish/config.fish
!/fish/conf.d/*
!/hypr/hypr*
!/hypr/scripts/wake.sh
!/hypr/scripts/wallpaper.sh
!/onedrive/config
!/pulse/default*
!/pulse/patchbay/*
!/spicetify/CustomApps/*
!/spicetify/CustomApps/marketplace/*
!/spicetify/config*
!/sunshine/apps.json
!/sunshine/sunshine.conf
!/waybar/config
!/waybar/scripts/*
!/waybar/style.css
!/wpaperd/config.toml